@media (max-width:1000px)
/*and (min-width:375px)*/
    {
    .container {
        width: 100%;
    }
}

@media (min-width:1001px) {
    .container {
        width: 70%;
    }
}

@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Gotham Pro"),
        url("../fonts/gothampro.ttf") format("ttf")
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    10% {
        transform: rotate(-4700deg)
    }

}

.spin {
    animation: spin 5s ease-out 0s forwards;
}

:root {
    --text-color: white;
    --button-text-color: #FAC269;
}

* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

body {
    background: radial-gradient(#75BDFF, #020065);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Luckiest Guy;
}

header {
    background: #001583;
    height: 11%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 4vh;
    padding-right: 4vw;
}

nav {
    font-size: 30px;
    background: #282B2E33;
    width: 21vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}


.more img {
    width: 25px;
    height: 25px;
}

.close img {
    width: 25px;
    height: 25px;
}

#devider {
    height: 80%;
    margin: auto 0;
    width: 1px;
    border-left: 1px solid #ffffff1F;
}


.container {
    margin: 0 auto;
    height: 89%;
    width: 100%;
    padding: 2vw;
}

.gameplay {
    color: var(--button-text-color);
    display: flex;
}

.wheel-box {
    margin: 2vw;
    width: 53vw;
    height: 53vw;
    box-shadow: inset 1px 5px 4px #1B379F;
    position: relative;
    border-radius: 8px;
    background: linear-gradient(#3496DF, #016CB9)
}

#pointer {
    position: absolute;
    left: 24.9vw;
    width: 3.2vw;
    ;
    height: 6.4vw;
    ;
    z-index: 2;
}

#wheel {
    position: absolute;
    width: 60.5vw;
    height: 60.5vw;
    left: -3.6vw;
    top: -3.6vw;
    z-index: 1;
    /* animation:var(--spin); */
}

.title {
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px #00000040;
    font-weight: 400;
}

h1 {
    font-size: 40px;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 0;
}

.button {
    border-radius: 10px;
    border: 3px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35vw;
    height: 16vw;
}

.info {
    margin: 2vw;
    background: linear-gradient(to left top, #588DD8, #324FA5) padding-box,
        linear-gradient(#FFCD7E, #E18A00) border-box;
    box-shadow: inset 0 4px 4px rgba(64, 0, 0, 0.4);
}

.action {
    margin: 0;
    position: relative;
    background: linear-gradient(to left, #BC0000, #8B0000) padding-box,
        linear-gradient(#FFCD7E, #E18A00) border-box;
    cursor: pointer;
}

.border {
    background: #8B0000;
    border-radius: 10px;
    width: 35vw;
    height: 17vw;
    margin: 2vw;
}

h3 {
    margin: 0;
    text-shadow: -1px -1px #B46E00;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

h1,
h2,
h3 {
    letter-spacing: 1px;
}

.liderboard {
    color: var(--text-color);
    background: linear-gradient(#3496DF, #006BB8);
    margin: 2vw;
    box-shadow: inset 1px 5px 4px #1B379F;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    width: 92vw;
    height: 47vh;
    padding: 2vw;
}

ul {
    padding: 0;
}

ul li {
    font-family: "Gotham Pro";
    font-size: 15px;
    list-style: none;
    display: grid;
    grid-template-columns: 14% 50% 21% 15%;
    background: linear-gradient(#62B5F0, #046EBA);
    border-radius: 5px;
    vertical-align: center;
    margin: 2vw;
    padding: 2vw;
}

.prize,
.time,
.user,
.avatar,
.jackpot {
    display: flex;
    align-items: center;
}

.prize img {
    height: 14px;
}

.prize,
.time,
.jackpot {
    justify-content: flex-end;
}

.jackpot {
    font-family: "Luckiest Guy";
    background-image: linear-gradient(#FFD64B, #C68600);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 14px;
}

.pop-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.pop-up img {
    height: 50px;
}

.great {
    font-size: 30px;
    color: var(--button-text-color)
}

.mt-4 {
    margin-top: 4vh;
}